/*общие стили*/
 body{
     margin: 0;
     padding: 0;
     font-family: "PT Sans", Arial, serif;
     font-size: 14px;
     line-height: 21px;
     font-weight: 500;
     color: #000000;
     text-transform: uppercase;
     background-color: #ffffff;
}
 a {
     text-decoration: none;
}
 
 .visually-hidden {
     position: absolute;
     clip: rect(0 0 0 0);
     width: 1px;
     height: 1px;
     margin: -1px;
}
/*навигация на главной странице*/
 .main-navigation-wrapper{
     width: 100%;
     background-color: #fff;
     display: flex;
     justify-content: center;
     
 }
 .main-navigation{
     color: #000000;
     background-color: #ffffff;
     line-height: 26px;
     font-weight: 700;
     font-size: 14px;
     width: 1200px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     padding-bottom: 17px;
     padding-top: 13px;
}
.main-logo{
     height: 70px;
     width: 137px;
     position: absolute;
}
 .site-navigation{
     width: 1200px;
     list-style: none;
     padding: 0px;
     margin:0;
     width: auto;
     display: flex;
     justify-content: space-around;
}

.item-info,
.item-photo {
     text-align: left; 
}
.item-map,
.item-hotel{
     text-align: right;
}
.main-navigation li{
     width: 300px;
     box-sizing: border-box;
}
.item-info{
     padding-left: 73px;
}
.item-hotel{
     padding-right: 73px;
}
.item-photo{
     padding-left:14px;
}
.item-map{
     padding-right: 14px;
}
 .site-navigation a{
     color: #000000;
}
 .site-navigation a:hover{
     color: #81b3d2;
}
 .site-navigation a:active{
     color: #000000;
     opacity: 0.3;
}
 .link-active a{
     color: #827167;
     opacity: 1;
}
/*картинка на главноей странице после заголовка*/

.features-main{
     width: 1200px;
     margin: 0 auto;
}
.features-photo{
     background-image: url(../img/photoheader1200x773.jpg);
     background-size: cover;
     width: 1200px;
     height: 508px;
     display: block;
     margin: 0 auto;
     margin-bottom: 61px;
}
.features-photo img{
     margin: 0 auto;
     border: 1px solid transparent;
     margin-top: 75px;
     margin-left: 370px;
}
/*Спиксок преимуществ*/
 .sedona-features, .features-list{
     list-style: none;
     text-align: center;
     margin:0;
     padding:0;    
}
.sedona-features{
     display: flex;
     flex-direction: inline-block;
     flex-wrap: wrap;

}
 .sedona-description{
     font-weight: 700;
     text-align: center;
     font-size: 21px;
     line-height: 26px;
     margin-bottom: 27px;
     margin-top: -2px;
}
 .table-name{
     font-size: 14px;
     line-height: 26px;
     color: #333333;
     text-align: center;
     margin-bottom: 52px;
}
 .features-list{/*70 95 161*/
     background-color: #ffffff;
     width: 1200px;
     font-size:14px;
     line-height:21px;
     display: flex;
     justify-content: space-between;
     padding-top:160px;
}
.features-item-first{
     width: 400px;
}
.features-item-second{
     width: 400px;
}
.features-item{
     width: 400px;
}
 .features-list p{
     color: #333333;
     font-size: 14px;
     line-height: 21px;
     margin-bottom: 83px;
}
 .features-item h3,
 .features-item-first h3,
 .features-item-second h3{
     color: #000000;
     font-size: 21px;
}
 .first-features, .second-features{
     background-color: #81b3d2;
     width: 1200px;
     color: #ffffff;
     display: flex;
     flex-wrap: wrap;

}
.second-features-photo{
     background-image: url(../img/thesecondreasontown800x256.jpg);
     background-size: cover;
     width: 800px;
     height: 256px;
     display: block;
     margin: 0 auto;
}
 .first-features span, .second-features span{
     color: #fff;
     display: block;
     margin-top: 25px;
     margin-bottom: 21px;
}
.features-list p{
     margin-top: 25px;

}
.first-features-block{
     margin-top: 47px;
     width: 400px;
}
.first-features-photo{
     background-color: #e3dadb;
     background: url(../img/thefirstreasontown800x256.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     height: 256px;
     width: 800px; 
}
.second-features-block{
     width: 400px;
     align-items: center;
     padding-top: 45px;
}
.second-features img{
     background-color: #e3dadb;
     height: 256px;
     width: 800px; 
}
 .sedona-features h3{
     font-size: 21px;
     line-height: 21px;
     padding:0;
     margin: 0;
     margin-bottom: 22px;
}
 .features{
     background-color: #eeeeee;
     width: 400px;
}
 .features p, span{
     color: #333333;
}
.features h3{
     padding-top: 47px;
     padding-bottom: 24px;
     margin:0;
     padding-left: 119px;
     padding-right: 120px;
}

.tourists h3{
     padding-left: 140px;
     padding-right: 140px;   
}
.features p{
     margin:0;
     padding-top: 22px;
     padding-left:60px;
     padding-right:60px;
     padding-bottom: 60px;

}
/*карта*/
.map-title{
     font-size: 30px;
     line-height: 36px;
     text-align: center;
     margin: 0;
     margin-top:51px;
}
.map-description{
     line-height: 24px;
     font-size: 14px;
     color: #333333;
     text-align: center;
     margin-bottom: 130px;
     margin-top: 25px;
}
.modal-map img{
     display: block;
     margin:0 auto;
     height: 596px;
}
/*футер*/
.main-footer{
     width: 1200px;
     display: flex;
     margin:0 auto; 
     justify-content: center; 
     margin-top: -120px;
     background-color: #fff;
     opacity: 0.9;
     position: relative;
}

.container-footer{
     width: 1200px;
     display: flex;
}
.visit-span,
.social-wrapper{
     width: 400px;
     display: flex;
}
 .main-footer span{
     font-size: 21px;
     line-height: 26px;
     font-weight: 700;
     text-align: left;
     color: #000000;
     margin: 0px;
     display: block;
     box-sizing: border-box;
     margin-top:45px;
     margin-left: 133px;
     margin-bottom: 49px;
}
.footer-copyright{
     margin: 0px;
     padding: 0;
     display: block;
     width: 400px;
}
.footer-copyright p{
     line-height: 26px;
     font-weight: 400;
     display: block;
     margin:0;
     margin-left: 103px;
     margin-top: 46px;
}
.footer-copyright a{
     display: flex;
     width: 114px;
     height: 43px;
     background-color: transparent;
     margin-left:185px;
     margin-top: -34px;
     background-image: url(../img/svg/logo-htmlacademy.svg);
     background-repeat: no-repeat;
}
.footer-copyright svg{
     margin:0;
     padding:0;
     margin-left:95px;
     margin-bottom:41px;
}
.social{
     padding: 0px;
     margin: 0px;
     width: 400px;
     list-style: none;
     display: flex;
     justify-content: space-between;
}
.social-block{
     width: 150px;
     display: flex;
     align-items: center;
     margin-left:124px;
}
.social-button{
     width: 46px;
     height: 46px;
     background-color: #81b3d2;
     opacity: 1;
     display: flex;
  align-items: center;
  justify-content: center;
}
/*форма*/
.form-block{
     background-color: #000;
     display: flex;
  flex-wrap: wrap;
}
 .searching-form input{
     font: inherit;
     background-color: #f2f2f2;
     border: 0px;
     line-height: 26px;
     font-size: 14px;
     font-weight: bold;

}
 .searching-form label{
     line-height: 26px;
     font-size: 14px;
     font-weight: bold;
}
 .search-hotel{
     font-size:21px;
     line-height: 26px;
     font-weight: bold;
     color: #ffffff;
     text-align: center;
     background-color: #766357;
     border:0px;
     width: 568px;
     height: 86px;
     padding-bottom:33px;
     text-transform: uppercase;
}
 .form-frame {
     border: 0;
     width: 566px;
     height: 481px;
     background-color: #ffffff;
}
 .form-submit{
     width: 458px;
     height:58px;
     background-color: #81b3d2;
     border: 0px;
     font-size: 21px;
     font-weight: bold;
     color:#ffffff;
     text-transform: uppercase;


}
 .comming{
     background-color: #093b5b;
     width: 568px;

}
.comming input{
     
}
 .comming-out{
     background-color: #093b;
     width: 568px;
}
 .number-of-adult{
     background-color: #5b095a;
     width: 284px;
}
 .number-of-children{
     background-color: #81b3d2;
     width: 284px;
}
/*страница каталога*/
 .inner-page {
     color: #000000;
     background-color: #ffffff;
     font-size: 14px;
     line-height: 21px;
     width: 1200px;
     margin: 0 auto;
}
.catalog-container{
     width: 1056px;
     margin: 0 auto;
}
.filter{
     display: flex;
     /*outline: 4px solid #f99;*/
}
 .filter fieldset {
     border: none;
     margin: 0;
     padding:0;
}
/*двойной ползунок*/
.filter-range {
  width: 330px;
  outline: 1px solid #f87;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 25px;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  
  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}
/*фильтры на странице каталога*/
 .infrastructure-description, .type-of-housing-description{
     color: #ffffff;
     line-height: 21px;
}
 .infrastructure-filter{ /*фильтр инфраструктуры*/
     list-style: none;
     padding:0;
     margin:0;
     padding-bottom: 8px;
     padding-left: 39px;
}
.infrastructure-filter li{
     margin-bottom: 25px;
}

.infrastructure-section{ 
    /* outline: 1px solid #000;*/
     padding-top:27px;
     padding-left:73px;
}
.house-filter{
    /* outline: 1px solid #e12;*/
    padding-left:116px;
    padding-top:27px;
    margin-right: 346px;

}
 .housing-filter{         /*фильтр типа жилья*/
     list-style: none;
     padding:0;
     margin:0;
     padding-left: 43px;
}
.housing-filter li{
     margin-bottom: 25px;
}
 .filter legend {
     color: #ffffff;
     font-size: 16px;
     line-height: 21px;
     font-weight: bold;
     font-size: 16px;
     line-height: 21px;
     padding-bottom: 25px;
}
 .filters{
     background-color: #4077a0;
     background: url(../img/background1200x217.jpg) no-repeat;
     background-size: 100%;
     display: flex;
     flex-wrap: wrap;
}

 .button{
     color: #ffffff;
}
 .result{
     background-color: transparent;
     border: 1px solid #ffffff;
     color: #ffffff;
}
 .result:hover{
     background-color: #ffffff;
     color:#000000;
     border: 1px solid #ffffff;
}
/*результат*/
 .sort-list{
     display: flex;
     justify-content: flex-start;
     flex-wrap: wrap;
     outline: 2px solid #000;  /*временный тег*/
     padding-top: 35px;
     padding-bottom: 31px;

 }
 .done {
     font-size: 21px;
     line-height: 26px;
     font-weight: 700;
     color: #000000;
     display: block;
     outline: 2px solid #c64; /*временный тег*/
     margin:0;
     margin-left: 73px;
     margin-top: -6px;
    /* margin-top:29px;*/
}
 .sorter{
     font-size: 12px;
     line-height: 18px;
     color: #000000;
     display: block;
     outline: 2px solid #c89; /*временный тег*/
     margin-left: 46px;
     padding-left: 2px;
     /*padding-top: 36px;
     padding-bottom: 36px;*/
}
.sorting{
     outline: 2px solid #c14; /*временный тег*/
     font-size: 12px;
     line-height: 18px;
     display: flex;
     margin:0;
     padding: 0;
     list-style: none;
     margin-left: 39px;
     /*padding-top: 36px;
     padding-bottom: 36px;*/
     width: 239px;
}
.sort-item{
     outline: 1px solid #f61;
     width: 239px;
     display: flex;
     justify-content: space-between;
     padding-left: 2px;
}
 .sorting .sort-item a{
     color: #000000;
     opacity: 0.3;
     border-bottom: 1px dashed rgba(0,0,0,0.3);
}
 .sorting .sort-item a:hover{
     color: #81b3d2;
     border-bottom: 1px dashed #81b3d2;
}
 .sorting .sort-item a:active{
     color: #000000;
     border-bottom:0;
     opacity: 1;
}
/*каталог*/
 .catalog-item a{
     font-size: 21px;
     line-height: 26px;
     font-weight: 700;
     color: #000000;
     opacity: 1;
}
 .catalog-item a:hover{
     color: #81b3d2;
}
 .catalog-item a:active{
     color: rgba(0,0,0,0.3);
}
 .catalog-list{
     list-style: none;
}
 .item-description{
     color: #333333;
     font-size: 14px;
     line-height: 21px;
}
 .rating {
     color: #666666;
     font-size: 14px;
     line-height: 21px;
     font-weight: 400;
}
/*подробнее*/
 .catalog-list .button{
     color: #ffffff;
     background-color: #81b3d2;
}
 .catalog-list .button:hover{
     color: #ffffff;
     background-color: #669ec0;
}
 .catalog-list .button:active{
     color: rgba(255,255,255,0.3);
     background-color:#5496bd;
     opacity: 0.3;
}
/*забронировать*/
 .catalog-list .rent{
     color: #ffffff;
     background-color: #766357;
}
 .catalog-list .rent:hover{
     color: #ffffff;
     background-color: #604e43;
}
 .catalog-list .rent:active{
     color: rgba(255,255,255,0.3);
     background-color: #503e33;
}
 .social-button-list{
     list-style: none;
}
 