/*общие стили*/
 body{
     margin: 0;
     padding: 0;
     font-family: "PT Sans", Arial, sans-serif;
     font-size: 14px;
     line-height: 21px;
     font-weight: 500;
     color: #000000;
     text-transform: uppercase;
     background-color: #ffffff;
}
 a {
     text-decoration: none;
}
 @font-face {
     font-family: "PTSansRegular";
     src: url("../fonts/PTSansRegular/PTSansRegular.eot");
     src: url("../fonts/PTSansRegular/PTSansRegular.eot?#iefix")format("embedded-opentype"), url("../fonts/PTSansRegular/PTSansRegular.woff") format("woff"), url("../fonts/PTSansRegular/PTSansRegular.ttf") format("truetype");
     font-style: normal;
     font-weight: normal;
}
 @font-face {
     font-family: "PTSansItalic";
     src: url("../fonts/PTSansItalic/PTSansItalic.eot");
     src: url("../fonts/PTSansItalic/PTSansItalic.eot?#iefix")format("embedded-opentype"), url("../fonts/PTSansItalic/PTSansItalic.woff") format("woff"), url("../fonts/PTSansItalic/PTSansItalic.ttf") format("truetype");
     font-style: normal;
     font-weight: normal;
}
 @font-face {
     font-family: "PTSansBold";
     src: url("../fonts/PTSansBold/PTSansBold.eot");
     src: url("../fonts/PTSansBold/PTSansBold.eot?#iefix")format("embedded-opentype"), url("../fonts/PTSansBold/PTSansBold.woff") format("woff"), url("../fonts/PTSansBold/PTSansBold.ttf") format("truetype");
     font-style: normal;
     font-weight: normal;
}
 .visually-hidden {
     position: absolute;
     clip: rect(0 0 0 0);
     width: 1px;
     height: 1px;
     margin: -1px;
}
/*навигация на главной странице*/
 .main-navigation-wrapper{
     min-height: 56px; /*временный тег*/
     width: 100%;
     background-color: #fff;
     outline: 2px solid #c34; /*временный тег*/
     display: flex;
     justify-content: center;
 }
 .main-navigation{
     color: #000000;
     background-color: #ffffff;
     line-height: 26px;
     font-weight: 700;
     font-size: 14px;
     outline: 3px solid #000000; /*временный тег*/
     min-height: 56px; /*временный тег*/
     width: 1200px;
     display: flex;
     flex-direction: column;
     justify-content: center;
}
.main-logo{
     outline: 1px solid #000; /*временный тег*/
     height: 70px;
     width: 137px;
     position: absolute;
}
 .site-navigation{
     list-style: none;
     padding: 0px;
     margin:0;
     min-height: 56px;
     width: auto;
     outline: 1px solid #c2c2;
     display: flex;
     justify-content: space-between;
}
.site-navigation li{
     width: 300px;
     outline: 1px solid #f91;
     padding-top:21px;
     padding-bottom: 21px;
     
}
.item-info,
.item-photo{
     text-align: left;
     padding-left: 71px;
}
.item-map,
.item-hotel{
     text-align: right;
     padding-right: 72px;
}
 .site-navigation a:link{
     color: #827167;
}
 .site-navigation a{
     color: #000000;
}
 .site-navigation a:hover{
     color: #81b3d2;
}
 .site-navigation a:active{
     color: #000000;
     opacity: 0.3;
}
/*картинка на главноей странице после заголовка*/
.features-photo{
     background-image: url(../img/photoheader1200x773.jpg);
     background-size: cover;
     width: 1200px;
     height: 508px;
     display: block;
     margin: 0 auto;
     margin-bottom: 61px;
}
.features-photo img{
     margin: 0 auto;
     border: 1px solid transparent;
     margin-top: 77px;
     margin-left: 370px;
}
/*Спиксок преимуществ*/
 .sedona-features, .features-list{
     list-style: none;
     text-align: center;
     margin:0;
     padding:0;
}
.sedona-features{
     min-height: 844px;
     width: 1200px;
     display: flex;
     flex-direction: column;
     outline: 2px solid #c765;
     margin: 0 auto;
}
 .sedona-description{
     font-weight: 700;
     text-align: center;
     font-size: 21px;
     line-height: 26px;
     margin-bottom: 33px;
}
 .table-name{
     font-size: 14px;
     line-height: 26px;
     color: #333333;
     text-align: center;
     margin-bottom: 56px;
}
 .features-list{/*70 95 161*/
     background-color: #ffffff;
     width: 1200px;
     text-align: 14px
     line-height:21px;
     display: flex;
     justify-content: space-between;
     outline: 2px solid #c78;
     margin-left: 73px;
     margin-right:64px;
     margin-top:161px;
     margin-bottom: 84px;
}
.features-item-first{
     margin-right: 133px;
     outline: 5px solid #b12;
}
.features-item-second{
     margin-right: 122px;
}
.features-list li{
     outline: 3px solid #000;
     width: 400px;
}
 .features-item p{
     color: #333333;
     font-size: 14px;
     font-weight: 21px;
}
 .features-item h3{
     color: #000000;
     font-size: 21px;
}
 .first-features, .second-features{
     background-color: #81b3d2;
     color: #ffffff;
     outline: 2px solid #8198;
     display: flex;
     justify-content: space-between;

}
 .first-features span, .second-features span{
     color: #fff;
     display: block;
     margin-top: 25px;
     margin-bottom: 26px;
}
.first-features-block{
     display: block;
     outline: 4px solid #000;
     margin-top: 47px;
     margin-left: 60px;
}
.first-features img{
     background-color: #e3dadb;
     height: 259px;
     width: 800px; 
     outline: 3px solid #e8e;
}
.second-features-block{
     display: block;
     outline: 4px solid #000;
     margin-top: 46px;
     margin-right:49px;
}
.second-features img{
     background-color: #e3dadb;
     height: 259px;
     width: 800px; 
     outline: 3px solid #e8e;
}
 .sedona-features h3{
     font-size: 21px;
     line-height: 21px;
     padding:0;
     margin: 0;
}
 .features{
     background-color: #eeeeee;
}
 .features p, span{
     color: #333333;
}
/*карта*/
 .map-title{
     font-size: 30px;
     line-height: 36px;
     text-align: center;
     margin-top:65px;
}
 .map-description{
     line-height: 24px;
     font-size: 14px;
     color: #333333;
     text-align: center;
     margin-bottom: 136px;
}
.modal-map img{
     display: block;
     margin:0 auto;
}
/*футер*/
.main-footer{
     min-height: 120px; /*временный тег*/
     width: 1200px;
     outline: 1px solid #c83;
     display: flex;
     margin:0 auto; 
     justify-content: center;   
}
.container-footer{
     width: 967px;
     outline: 4px solid #000;
     display: flex;
     justify-content: space-between;
}
 .main-footer span{
     font-size: 21px;
     line-height: 26px;
     font-weight: 700;
     text-align: left;
     color: #000000;
     margin: 0px;
     width: 33%;
     outline: 1px solid #c32;
     display: block;
}
.footer-copyright{
     margin: 0px;
     padding: 0;
     outline: 1px solid #c462;
     display: block;
     width: 33%;
}
.footer-copyright p{
     line-height: 26px;
     font-weight: 400;
}
.social{
     padding: 0px;
     margin: 0px;
     min-height: 48px;
     display: block;
     width: 33%;
     outline: 1px solid #000;
     list-style: none;
     margin-left: 255px;
}
/*форма*/
 .searching-form input{
     font: inherit;
     background-color: #f2f2f2;
     border: 0px;
     line-height: 26px;
     font-size: 14px;
     font-weight: bold;
}
 .searching-form label{
     line-height: 26px;
     font-size: 14px;
     font-weight: bold;
}
 .search-hotel{
     font-size:21px;
     line-height: 26px;
     font-weight: bold;
     color: #ffffff;
     text-align: center;
     background-color: #766357;
     border:0px;
     width: 568px;
     height: 86px;
     padding-bottom:33px;
     text-transform: uppercase;
}
 .form-frame {
     border: 0;
     width: 566px;
     height: 481px;
     background-color: #ffffff;
     padding:0;
}
 .form-submit{
     width: 458px;
     height:58px;
     background-color: #81b3d2;
     border: 0px;
     font-size: 21px;
     font-weight: bold;
     color:#ffffff;
     text-transform: uppercase;
}
 .comming{
     background-color: #093b5b;
}
 .number-of-adult{
     background-color: #5b095a;
}
 .number-of-children{
     background-color: #81b3d2;
}
/*страница каталога*/
 .inner-page {
     color: #000000;
     background-color: #ffffff;
     font-size: 14px;
     line-height: 21px;
     width: 1200px;
     margin: 0 auto;
}
 .filter fieldset {
     border: none;
}
/*двойной ползунок*/
.filter-range {
  width: 330px;

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  
  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}
/*фильтры на странице каталога*/
 .infrastructure-description, .type-of-housing-description{
     color: #ffffff;
     line-height: 21px;
}
 .infrastructure-filter{ /*фильтр инфраструктуры*/
     list-style: none;
     padding:0;
     margin:0;
}
.infrastructure-section{ 

}
 .housing-filter{         /*фильтр типа жилья*/
     list-style: none;
     padding:0;
     margin:0;
}
 .filter legend {
     color: #ffffff;
     font-size: 16px;
     line-height: 21px;
     font-weight: bold;
}
 .filters{
     background-color: #4077a0;
     background: url(../img/background1200x217.jpg) no-repeat;
     background-size: 100%;
     display: flexl
     flex-wrap: wrap;
}

 .button{
     color: #ffffff;
}
 .result{
     background-color: transparent;
     border: 1px solid #ffffff;
     color: #ffffff;
}
 .result:hover{
     background-color: #ffffff;
     color:#000000;
     border: 1px solid #ffffff;
}
/*результат*/
 .sort-list{
     display: flex;
     justify-content: flex-start;
     flex-wrap: wrap;
     outline: 2px solid #000;  /*временный тег*/

 }
 .done {
     font-size: 21px;
     line-height: 26px;
     font-weight: 700;
     color: #000000;
     display: block;
     outline: 2px solid #c64; /*временный тег*/
     margin-left: 73px;
     margin-bottom: 31px;
     margin-top:31px;
}
 .sorter{
     font-size: 12px;
     line-height: 18px;
     color: #000000;
     display: block;
     outline: 2px solid #c89; /*временный тег*/
     margin-left: 49px;
     padding-top: 36px;
     padding-bottom: 36px;
}
.sorting{
     outline: 2px solid #c14; /*временный тег*/
     font-size: 12px;
     line-height: 18px;
     display: flex;
     margin:0;
     padding: 0;
     list-style: none;
     margin-left: 39px;
     padding-top: 36px;
     padding-bottom: 36px;
     width: 239px;
}
.sort-item{
     outline: 1px solid #f61;
     width: 239px;
     display: flex;
     justify-content: space-between;
}
 .sorting .sort-item a{
     color: #000000;
     opacity: 0.3;
     border-bottom: 1px dashed rgba(0,0,0,0.3);
}
 .sorting .sort-item a:hover{
     color: #81b3d2;
     border-bottom: 1px dashed #81b3d2;
}
 .sorting .sort-item a:active{
     color: #000000;
     border-bottom:0;
     opacity: 1;
}
/*каталог*/
 .catalog-item a{
     font-size: 21px;
     line-height: 26px;
     font-weight: 700;
     color: #000000;
     opacity: 1;
}
 .catalog-item a:hover{
     color: #81b3d2;
}
 .catalog-item a:active{
     color: rgba(0,0,0,0.3);
}
 .catalog-list{
     list-style: none;
}
 .item-description{
     color: #333333;
     font-style: 14px;
     line-height: 21px;
}
 .rating {
     color: #666666;
     font-size: 14px;
     line-height: 21px;
     font-weight: 400;
}
/*подробнее*/
 .catalog-list .button{
     color: #ffffff;
     background-color: #81b3d2;
}
 .catalog-list .button:hover{
     color: #ffffff;
     background-color: #669ec0;
}
 .catalog-list .button:active{
     color: rgba(255,255,255,0.3);
     background-color:#5496bd;
     opacity: 0.3;
}
/*забронировать*/
 .catalog-list .rent{
     color: #ffffff;
     background-color: #766357;
}
 .catalog-list .rent:hover{
     color: #ffffff;
     background-color: #604e43;
}
 .catalog-list .rent:active{
     color: rgba(255,255,255,0.3);
     background-color: #503e33;
}
 .social-button-list{
     list-style: none;
}
 